<div class="product-show">

  <div class="col-md-5">
    <%= image_tag(@product.image.medium, class: "thumbnail img-responsive") %>
  </div>

  <div class="col-md-7">

    <h2 class="product-title"><%= @product.title %></h2>

    <div class="product-description">
      <p>
        <%= simple_format(@product.description) %>
      </p>
    </div>

    <div class="product-price-bgcolor">
      <div class="product-price">
        价格：<%= @product.price %> ￥
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">

        <div class="product-amount">
          作者：<%= @product.author %>
        </div>

        <div class="product-amount">
          库存量： <%= @product.amount %>
        </div>

      </div>

      <div class="col-sm-6">
        <div class="product-amount">
          分类： <%= @product.category.name %>
        </div>

        <div class="product-amount">
          包邮： 99元起包邮 | 7天无忧退货
        </div>
      </div>
    </div>

    <div class="add-to-cart-buttom row">
      <div class="col-sm-6">
        <p><%= show_add_to_cart @product %></p>
      </div>


    </div>

  </div>

  <div class="container">
      <div class="col-md-9 product-particulars">

        <div class="row">
          <ul class="nav nav-tabs nav-justified">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">商品详情</a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">用户评价</a>
            </li>
          </ul>
        </div>

        <div class="tab-content">

          <div class="product-particulars-box row tab-pane active" id="tab_default_1">
            <%= simple_format(@product.description) %>
          </div>

          <div class="product-particulars-box row tab-pane" id="tab_default_2">
            <h3 class="comments_title">
              <%= @product.comments.count %> Comments
            </h3>
            <hr>
            <div id="comments">
              <%= render @product.comments%>
              <%= render "comments/form"%>
            </div>
          </div>

        </div>

      </div>


      <div class="col-md-3">
        <div class="product-recommend">
          <h5>购物指南</h5>
          <hr>
          <h6>配送费用</h6>
          <p>小件商品的配送费用为20.00元/单。单笔订单消费购买小件商品满99.00元，可享受免费配送服务。</p>
          <hr>
          <h6>支付方式</h6>
          <p>支付宝账户余额
            <br>
            网银支付（通过支付宝
            <br>
            信用卡支付（通过支付宝）</p>
          <hr>
          <h6>更换商品、退货</h6>
          <p>如您在书城购买的商品未经使用，并不影响下一位消费者的权益的情况下，可在到货起14日内进行退货服务申请。当您需要申请退货服务时请联系客服中心。</p>
      </div>

  </div>
</div>
