<!DOCTYPE html>
<html>
  <head>
    <title>书城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="https://ws3.sinaimg.cn/large/006tNc79gy1fg74poxw90j305k05kt8m.jpg"/>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: '' %>
    <%= yield :stylesheets %>
  </head>

  <body>
    <%= render 'common/navbar' %>
    <div class="container">
      <%= render 'common/flashes' %>

      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= yield :javascripts %>
  </body>
</html>
